*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    position: relative;
    min-height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#navbar{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}
#navbar > ul{
    min-width: 200px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.5em;
}
.nav-link{
    color: rgba(0,0,0,0.87);
    font-size: 0.85em;
}
#profile-logo{
	border-radius: 50%;
}
.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
#logo{
    display: block;
    margin: 0 auto;
    margin-top: 7.5em;
    max-width: 100%;
    height: auto;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-input{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
    width: 550px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.8em;
    border-radius: 2em;
}
input{
    width: 100%;
    border: none;
    background-color: inherit;
    padding-left: 1em;
}
#botones{
    margin-top: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boton{
    border-style: none;
    color: #777;
    background-color: #eee;
    margin: 0 1em;
    padding: 1em 1.5em;
    border-radius: 5px;
}
#text-input:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.boton:hover{
    background-color: #eee;
    color: black;
    border: 1px solid #aaa;
}
#idioma{
    margin-top: 2em;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 2.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: #555;
    font-size: 0.8em;
}
#locacion{
    border-bottom: 1px solid #ddd;
}
#locacion p{
    margin-left: 1em;
}
#footer-nav ul{
    padding: 0;
}
#footer-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ul-nav li a{
    color: #555;
}
.ul-nav{
    display: flex;
    justify-content: space-around;
}
.ul-nav li{
    margin: 0 1em;
}
.ul-nav li:hover{
    text-decoration: underline;
}

@media (max-width: 550px){
    #navbar{
        justify-content: center;
    }
    #navbar > ul{
        margin-right: 0;
        margin-top: 10px;
    }
    #logo{
        margin-top: 4em;
    }
    #text-input{
        width: 90%;
    }
    #footer-nav{
        justify-content: center;
    }
    #link-ocultar{
        display: none;
    }
}

@media (max-width: 336px){
    .boton{
        margin-top: 1em;
    }
}